.skeleton-loader {
  width: 100%;
  height: 100%;
  background-color: #c9a06d;
  animation: pulse 1.5s infinite ease-in-out;
  border-radius: 8px;
  aspect-ratio: 3 / 4;
  justify-self: center;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.gallery-container-loader {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  margin: 0 auto;
  z-index: 0;
    justify-self: center;
}

@media (min-width: 800px) {
  .gallery-container-loader {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 10%;
  }
}

@media (min-width: 1024px) {
  .gallery-container-loader {
    grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
  }
}
