.embla {
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 90%;
  min-width: 0;
  margin-inline-end: 5px;
  margin-inline-start: 5px;
}

@media (min-width: 500px) {
  .embla__slide {
    flex: 0 0 45%;
    margin-inline-start: 10px;
    margin-inline-end: 20px;
    
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 27%;
    margin-inline-start: 10px;
    margin-inline-end: 20px;
  }
}

.control {
  border: #262626 1px solid;
  box-shadow: 1px #262626;
  border-radius: 50%;
  margin: 2px;
  padding: 4px;
  color: #262626;
}

.control:hover {
  background: black;
  opacity: 0.8;
  color: whitesmoke;
  transform: scale(1.03);
}

.controls__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
