---

---
<div class="loader-container">
<div class="loader"></div>
</div>

<style>
    .loader-container{
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: black;
        opacity: 0.5;
    }

    .loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 0 0 0 #0004;
    animation: l2 1.5s infinite linear;
    position: relative;
    }
    .loader:before,
    .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #0004;
    animation: inherit;
    animation-delay: -0.5s;
    }
    .loader:after {
    animation-delay: -1s;
    }
    @keyframes l2 {
        100% {box-shadow: 0 0 0 40px #0000}
    }

</style>