@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffedd5;
    --foreground: #171717;
  }

  [data-theme='dark'] {
    --background: #0a0a0a;
    --foreground: #ffedd5;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
