---

---

<div
  id="carouselExampleIndicators"
  class="welcome"
  >
  <!--Carousel indicators-->
  <h1>Lina rivero</h1>
  <div class="">
  <textarea>example@mail.com</textarea>
  <button>OK</button>
  </div>
 
</div>

<style>
  .welcome {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: white;
    background: burlywood;
  }

</style>