---
import Layout from "../layouts/Layout.astro"
import {Colors} from '../utils/colors'

---

<Layout title="404 page not found">
    <h1>This page has not been found</h1>
    <a href="/">← Go back to home</a>
</Layout>

<style>
  h1{
    color: #A65C32
  }
  a{
    color: #A65C32
  }
</style>
