---
import ButtonHome from "../components/Buttons/ButtonHome.astro";
import Pagination from "../components/pagination.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lina Rivero">
  <div class="w-100% h-15">
    CARRUSEL DE IMAGENES CON TEXTAERA DE INGRESAR UN MAIL PARA SUSCRIBIRSE A NEWSLETTER
  </div>
  <div class="border-2 border_color-black">Próxima fecha </div>
  <div> Video de youtube y link al canal</div>
  <div> Galeria de imagenes</div>
  
<Pagination prev="/contact" next="/bepartof" />
</Layout>

<style>
  h1 {
    font-size: 4rem;
    color: #a6877c;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    color: #a6877c;
    text-align: center;
    margin-bottom: 1em;
  }
  div {
    color: white
  }
</style>
