---
import Layout from "../layouts/Layout.astro";
import LinaCard from "../components/General/LinaCard.astro";
import PhotoLayout from "../layouts/PhotoLayout.astro";
import VideoWelcome from "../components/Gallery/Cards/VideoWelcome.astro";
import { ContactInfo } from "../utils/interfaces/interfaces";

export const prerender = true;

---

<PhotoLayout title="Lina Rivero Links">
  <main>
    <VideoWelcome />
    <div class="welcome"><h1><span class="text-gradient">Lina Rivero</span></h1>
    <ul role="list" class="link-card-grid">
      <LinaCard
        link="/socialmedia" 
        title="Lina en Redes sociales"
        logo="share"
      />
      <LinaCard
        link={ContactInfo.spotifyLink}
        title="Escucha mis canciones"
        logo="sing"
      />
      <LinaCard link={ContactInfo.mailLink} title="Contratar Show" logo="mail" />
      <LinaCard link="/home" title="Ver Más" logo="add" />
    </ul>    
  </main>
</PhotoLayout>

<style>
  .welcome {
    margin: auto;
    position: relative;
    min-height: 100vh;
    z-index: 2;
    padding: 1rem;
    font-size: 20px;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 20%;
    text-align: center;
    margin-bottom: 1em;
    color: #ffd0bf;
    text-shadow: 2px 2px 2px black;
    animation: fadeInTitle 1s
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
    animation: fadeIn 3s;
  }

  @keyframes fadeInTitle {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
    
  }
</style>
