---
import SocialMediaCard from "../components/Cards/SocialMediaCard.astro"
import SocialMediaLayout from "../layouts/SocialMediaLayout.astro"
import LinaCard from '../components/Cards/LinaCard.astro'
---
<SocialMediaLayout title="Social Media">
    <main>
        <div class="social-media-grid">
            <SocialMediaCard link="https://www.instagram.com/_linarivero/" title="Instagram"  logo="insta" user="@_linarivero"/>
            <SocialMediaCard link="https://open.spotify.com/artist/3binED05LZgUfuz7ODLCMX?si=9yS8RHbTTEieMvOW7aygig" title="Spotify" logo="spoty2" user="Lina Rivero"/>
            <SocialMediaCard link="https://www.youtube.com/@_linarivero" title="Youtube" logo="youtube" user="@_linarivero"/>
            <SocialMediaCard link="https://www.tiktok.com/@_linarivero" title="Tiktok" logo="tiktok" user="_linarivero"/>     
        </div>
    

<div class="nav">
    <LinaCard link="/" title="Back to home" logo="back" />
    <LinaCard link="/home" title="Ver Más" logo="add" />
    
</div>
   
</main>
</SocialMediaLayout>

<style>
    .nav {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(2ch, 1fr));
        gap: 1rem;
        padding: 2%;
    }

    .social-media-grid {
        display: grid;
        padding: 2%;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
    }

    @media (min-width: 768px) {
  .social-media-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .social-media-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

    main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100vw;
    min-height: 100vh;
    color: #ffd0bf;
    font-size: 20px;
    background: url(../../data/pictures/Toma1.jpg) no-repeat center center fixed;
    background-size: cover;
  }
</style>