---
import SocialMediaCard from "../components/Cards/SocialMediaCard.astro"
import SocialMediaLayout from "../layouts/SocialMediaLayout.astro"
import ButtonHome from '../components/Buttons/ButtonHome.astro'
import LinaCard from '../components/Cards/LinaCard.astro'
import Toma1 from '../utils/data/pictures/Toma1.jpg'
---
<SocialMediaLayout title="Social Media">
    <main>
    
<SocialMediaCard link="https://www.instagram.com/_linarivero/" title="Instagram"  logo="insta" user="@_linarivero"/>
<SocialMediaCard link="https://www.tiktok.com/@_linarivero" title="Spotify" logo="spoty2" user="Lina Rivero"/>
<SocialMediaCard link="https://www.youtube.com/@_linarivero" title="Youtube" logo="youtube" user="@_linarivero"/>
<SocialMediaCard link="https://www.tiktok.com/@_linarivero" title="Tiktok" logo="tiktok" user="_linarivero"/>
    
<div class="nav">
    <LinaCard link="/home" title="Ver Más" logo="add" />
    <LinaCard link="/" title="Back to home" logo="sing" />
</div>
   
</main>
</SocialMediaLayout>

<style>
    .nav {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(2ch, 1fr));
        gap: 1rem;
        padding: 0;
    }

    main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100vw;
    min-height: 100vh;
    color: #ffd0bf;
    font-size: 20px;
    background: url(../utils/data/pictures/Toma1.jpg) no-repeat center center fixed;
    background-size: cover;
  }
</style>