.event-card {
  position: relative;
  max-width: 500px;
  aspect-ratio: 4 / 3;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s;
}

.event-card.past {
  background: linear-gradient(90deg, gray 0%, #232323 100%);
}

.event-card.today {
  border: 2px solid #6ee7b7;
}

.event-card.week {
  border: 3px solid #ff9966;
}

.event-card-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;

  transition: filter 0.3s;
}

.event-card-date-row {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background: rgba(35, 35, 35, 0.85);
  color: #eac5a8;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 2;
  font-size: 1rem;
  font-weight: 500;
  pointer-events: none;
}

.event-card-date-row-content {
  color: #eac5a8;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.event-card-date-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 100%;
}

.event-card-date-text,
.event-card-date-time {
  margin: 0;
  line-height: 1.1;
}

.event-card-location-text {
  font-size: 0.75rem;
  font-weight: 200;
}

.event-card-btn-text {
  max-width: 100px;
}

.event-card-content {
  position: absolute;
  inset: 0;
  background: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  padding: 1rem;
  text-align: center;
  z-index: 5;
}

.event-card:hover .event-card-content,
.event-card:focus-within .event-card-content {
  opacity: 1;
  pointer-events: auto;
}

.event-card:hover .event-card-img,
.event-card:focus-within .event-card-img {
  filter: blur(2px) brightness(0.2);
}

.event-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #eac5a8;
}

.event-card-location-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.event-card-location-link {
  display: flex;
  align-items: center;
  color: #eac5a8;
  text-decoration: none;
}

.event-card-tickets-link {
  text-decoration: none;
}

.event-card-btn {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  background: #eac5a8;
  color: #232323;
  transition: background 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.event-card-btn.filled {
  background: #eac5a8;
  color: #232323;
}

.event-card-btn.filled:hover {
  background: #991b1b;
  color: #111827;
}

.event-card-btn.outlined {
  background: transparent;
  color: #eac5a8;
  border: 2px solid #eac5a8;
}

.event-card-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
  color: #232323;
  opacity: 0.9;
  z-index: 4;
  font-size: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background: #991b1b;
}

.event-card-label.week {
  background: #ff9966;
}

.event-card-label.today {
  background: #22c55e;
}

.event-card.past .event-card-label {
  background: #232323;
  color: #991b1b;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  font-weight: 900;
  opacity: 0.85;
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

@media (max-width: 480px) {
  .event-card-date-row-content {
    display: none;
  }

  .event-card-location-row {
    flex-direction: column;
    align-items: center;
  }
  .event-card {
    min-height: 100px;
    max-width: 100%;
    aspect-ratio: 5 / 4;
  }

  .event-card-date-row {
    font-size: 0.75rem;
    left: 0.5rem;
    right: 0.5rem;
  }
}

@media (max-width: 640px) {
  .event-card-date-row {
    font-size: 0.875rem;
    left: 0.75rem;
    right: 0.75rem;
  }
}

@media (max-width: 1240px) {
  .event-card-date-row-content {
    font-size: 0.75rem;
  }
}
